@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-black: #000000;
  --color-blue-text: #27a7be;
  --color-white: #ffffff;
  --cotyright-dark-gray: #303d41;
  --footer-color: #404f54;
  --footer-link: #939393;
  --heading-color: #555555;
  --light-blue: #f3f7f9;
  --light-gray: #d8d8d8;
  --light-link-blue: #379fe3;
  --store-link-gray-heading: #4a4a4a;
  --text-color-gray: #818181;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 4.3rem;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.links {
  display: flex;
  gap: 3.1rem;
  justify-content: center;
  list-style-type: none;
}

.link {
  color: var(--text-color-gray);
  display: inline-block;
  font-size: 0.8rem;
  line-height: 100%;
  position: relative;
  text-decoration: none;
}

.link:hover::before {
  background-color: var(--color-blue-text);
  bottom: -0.6rem;
  content: "";
  height: 0.25rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 150%;
}

.link-icons {
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 0;
}

.burger-menu {
  display: none;
}

.page-hero {
  display: flex;
  justify-content: center;
  position: relative;
}

.heading {
  font-size: 3.875rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 4rem;
}

.mobile-heading {
  display: none;
}

.connectivity {
  display: none;
}

.hero-page-info-paragraph {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.page-hero-infos {
  align-items: center;
  background-image: url(assets/Background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  height: 47.0625rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.laptop {
  padding-top: 12rem;
  width: 100%;
}

.dash {
  background: var(--color-white);
  height: 0.25rem;
  margin-top: 2.375rem;
  width: 2.1875rem;
}

.store {
  align-items: center;
  background: none;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  padding: 0.3125rem;
  width: 10.25rem;
}

.page-hero-links {
  display: flex;
  gap: 2rem;
  margin-top: 2.125rem;
}
.page-hero-link {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  text-decoration: none;
}

.link-span {
  font-size: 1.25rem;
}

.workflow-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: center;
  padding-top: 21rem;
  position: absolute;
}

.section-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 12.5rem;
  padding-top: 12rem;
  position: relative;
}

.section-title {
  color: var(--color-blue-text);
  font-size: 1.375rem;
  font-weight: 700;
}

.how-works {
  padding-top: 3.5rem;
}

.section-heading {
  color: var(--heading-color);
  font-size: 2.375rem;
  font-weight: 400;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}

.section-description {
  color: var(--text-color-gray);
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 0;
  max-width: 750px;
  padding: 10px;
  text-align: center;
}

.numbers {
  background: url(assets/Numbers.svg) no-repeat center center;
  height: 8.875rem;
  margin-right: 6rem;
  padding-left: 20px;
  width: 100%;
}
.arrows {
  background: url(assets/Arrows.svg) no-repeat center;
  height: 0.6875rem;
  margin-left: 500px;
  max-width: 33.375rem;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
}

.workflow-container-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 22.5rem;
}

.item-heading-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item-heading {
  color: var(--heading-color);
  font-size: 1.375rem;
  font-weight: 700;
}

.img-wrapper {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  height: 6.25rem;
  justify-content: center;
  width: 6.25rem;
}

.item-body-container {
  display: flex;
  padding: 5px;
}

.item-body-container img {
  display: none;
}

.item-description {
  color: var(--text-color-gray);
}

.features {
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3.125rem;
  max-width: 71.25rem;
  width: 100%;
}

.feature {
  color: #333;
  display: flex;
  font-weight: 500;
  gap: 1.375rem;
  padding: 1.875rem 1.25rem;
  position: relative;
  text-align: left;
}

.feature-img {
  margin-top: 0.9375rem;
}

.feature:not(:nth-child(3n))::after {
  background-color: #dcdcdc;
  content: "";
  height: calc(50% + 0.0625rem);
  position: absolute;
  right: 0;
  top: 50;
  width: 0.0625rem;
}

.feature:nth-child(-n + 6)::before {
  background-color: #dcdcdc;
  bottom: 1.875rem;
  content: "";
  height: 0.0625rem;
  position: absolute;
  width: 87%;
}

.feature-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.testimonials {
  background-color: var(--light-blue);
  padding-bottom: 6rem;
  padding-top: 0;
}

.testimonials-title,
.press-title {
  padding: 4.6rem;
}

.testimonials-full-name {
  margin-top: 2.625rem;
  padding: 0.625rem;
  text-align: center;
}

.quote {
  margin-top: 2.8125rem;
}

.customers {
  display: flex;
  gap: 1.25rem;
  margin-top: 3.875rem;
  max-width: 29.375rem;
  width: 100%;
}

.customer {
  border-radius: 50%;
  opacity: 0.3;
}

.center-customer {
  opacity: 1;
}

.italic {
  font-style: italic;
}

.indicator {
  display: none;
}

.press {
  padding-top: 0;
  position: static;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: center;
  margin-top: 4.6875rem;
  padding: 0.625rem;
  text-align: center;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20.125rem;
  justify-content: center;
  max-width: 22.5rem;
  overflow: visible;
  padding: 0.625rem;
  position: relative;
  width: 100%;
}

.card-arrows {
  display: none;
}

.arrow-left,
.arrow-right {
  align-items: center;
  background: var(--light-gray);
  border-radius: 50%;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.875rem;
}

.arrow-left {
  left: -0.9375rem;
}

.arrow-right {
  right: -0.9375rem;
}

.card:hover {
  box-shadow: 0px 3px 9px 0px #00000018;
}

.logo-wrapper {
  display: flex;
  height: 6.25rem;
  justify-content: center;
  width: 15rem;
}

.article-link {
  color: var(--light-link-blue);
  margin-top: 2rem;
}

.become-first {
  align-items: flex-start;
  background: var(--light-link-blue);
  height: 47.875rem;
  justify-content: center;
  padding-left: 5rem;
}

.become-first-heading {
  color: var(--color-white);
  font-size: 3.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

.become-first-store {
  background: var(--color-black);
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34.625rem;
}

.wrapper-description {
  color: var(--color-white);
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: left;
}

.image-wrapper {
  position: absolute;
  right: 3.125rem;
}

.floating-cards-img {
  position: absolute;
  right: 1.25rem;
  top: 16.3125rem;
}

.person-img {
  display: block;
  height: auto;
  width: 38.0625rem;
}

footer {
  align-items: center;
  background: var(--footer-color);
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 2rem;
}

.footer-logo-wrapper {
  align-items: center;
  display: flex;
  height: 4.375rem;
  justify-content: center;
  margin-top: 3.75rem;
  max-width: 22.5625rem;
  width: 100%;
}

.footer-website-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.6875rem;
}

.footer-link {
  background: var(--light-gray);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.footer-helpful-links {
  display: flex;
  gap: 7.9375rem;
  justify-content: center;
  width: 100%;
}

.helpful-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 10.3125rem;
  width: 100%;
}

.footer-ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.f-link {
  color: var(--footer-link);
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-decoration: none;
}

.link-header {
  color: var(--footer-link);
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
}

.copyright {
  align-items: center;
  background: var(--cotyright-dark-gray);
  display: flex;
  height: 5.125rem;
  justify-content: center;
  width: 100%;
}

.copyright-paragraph {
  color: var(--footer-link);
}

@media (max-width: 1139px) {
  .section-main {
    padding-bottom: 0;
  }

  .testimonials {
    padding-bottom: 6rem;
  }

  .numbers {
    display: none;
  }

  .arrows {
    display: none;
  }

  .workflow-container {
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 0;
    position: static;
  }

  .workflow-container-item {
    align-items: flex-start;
    padding: 2rem;
  }

  .item-heading-container {
    flex-direction: row;
    gap: 0.9375rem;
  }

  .img-wrapper {
    margin-top: 0.625rem;
  }

  .img-wrapper img {
    height: 3.375rem;
    width: 3.375rem;
  }

  .item-body-container {
    gap: 0.9375rem;
  }

  .item-body-container img {
    display: flex;
    margin-top: 1em;
  }

  .become-first {
    align-items: center;
    height: auto;
    padding: 2.5rem 1.25rem;
  }

  .wrapper {
    align-items: center;
    text-align: center;
  }

  .image-wrapper {
    margin-top: 3.75rem;
    position: relative;
  }

  .person-img {
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
    padding-left: 3.75rem;
  }

  .floating-cards-img {
    left: 80%;
    top: 30%;
    transform: translateX(-50%);
    width: 9.375rem;
  }

  .press {
    padding-bottom: 6rem;
  }
}

@media (max-width: 795px) {
  .burger-menu {
    cursor: pointer;
    display: flex;
    left: 1rem;
    position: absolute;
  }

  .logo-container {
    margin: 0 auto;
  }

  .header-navbar {
    display: none;
  }

  .apple-icon,
  .googlePlay-icon {
    filter: brightness(0%) saturate(100%);
  }

  .store {
    border-color: var(--heading-color);
  }

  .mobile-gray-link {
    color: var(--store-link-gray-heading);
  }

  .how-works {
    display: none;
  }

  .mobile-heading {
    color: var(--heading-color);
    display: block;
    font-size: 2, 375rem;
    font-weight: 700;
    padding-top: 3.5rem;
    text-align: center;
  }

  .mobile-heading-span,
  .connectivity {
    color: var(--color-blue-text);
  }
  .page-hero-infos {
    background: var(--light-gray);
  }

  .heading {
    display: none;
  }
  .hero-page-info-paragraph {
    color: var(--heading-color);
    font-size: 1.375rem;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    align-items: center;
    flex-direction: column;
  }

  .feature-paragraph {
    display: none;
  }

  .feature-name {
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 400;
  }

  .feature:not(:nth-child(3n))::after,
  .feature:nth-child(-n + 6)::before {
    display: none;
  }

  .mobile-hidden-feature {
    display: none;
  }

  .mobile-hidden-card {
    display: none;
  }

  .card {
    box-shadow: 0px 3px 9px 0px #00000018;
  }
  .card-arrows {
    display: block;
    height: 1.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .card-indicator {
    display: flex;
  }

  .dash {
    background: var(--color-blue-text);
  }

  .wrapper-description {
    display: none;
  }
}

@media (max-width: 620px) {
  .mobile-store-page-hero {
    flex-direction: column;
  }
  .laptop {
    padding-top: 10rem;
  }
}

@media (max-width: 500px) {
  .quote {
    filter: brightness(82%) saturate(10%) invert(38%) sepia(6%) saturate(208%)
      hue-rotate(180deg) brightness(82%) contrast(90%);
  }
  .customers {
    justify-content: center;
  }
  .not-mob-customer {
    display: none;
  }
  .indicator {
    display: flex;
    gap: 0.3125rem;
    margin-top: 3.375rem;
    width: 4.0625rem;
  }

  .indicator-item {
    background: var(--light-gray);
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
  }

  .blue {
    background: var(--color-blue-text);
  }
  .testimonials-full-name {
    display: none;
  }

  .testimonials-desc {
    display: none;
  }

  .footer-helpful-links {
    align-items: center;
    flex-direction: column;
    gap: 1.875rem;
    height: auto;
  }
  .helpful-link {
    height: auto;
  }

  .mobile-store {
    gap: 0.625rem;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .connectivity {
    padding-top: 0;
  }
  .card {
    max-width: 18.125rem;
  }
}
